.forgot-password-page-container .big-card-container .content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.forgot-password-page-container .big-card-container .content-wrapper p {
    width: 50%;
    min-width: 260px;
    font-family: 'Ubuntu';
    font-size: 1.25rem;
    text-align: center;
    color: #ddd;
    margin-bottom: 2rem;
}

.forgot-password-page-container input {
    background: none;
    border: none;
    border-bottom: 1px solid #ddd;
    outline: none;
    width: 50%;
    min-width: 260px;
    font-family: 'Ubuntu';
    color: #ddd;
    font-size: 1rem;
    text-align: center;
    margin-bottom: 3rem;
}