.manage-categories-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.manage-categories-content .message {
    font-family: 'Tulpen One';
    font-weight: bold;
    font-size: 2rem;
    color: #9c3611;
    text-align: center;
}

.manage-categories-content ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.manage-categories-content ul > *:nth-child(even) {
    background: rgba(0, 0, 0, 0.1);
}

.manage-categories-content .button {
    margin-top: 2rem;
}