.spot-page-message {
    color: #9c3611;
    font-size: 2rem;
    font-weight: bold;
    margin: 1rem 0 1rem 0;
    font-family: 'Tulpen One';
    text-align: center;
}

.spot-page-highlight {
    text-align: center;
    font-family: 'Tulpen One';
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
    color: #ddd;
    text-transform: uppercase;
}

.spot-page-tags-box {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 2rem;
}

.spot-page-tags-box > div {
    margin: 5px;
}

.spot-page-content {
    width: 100%;
    height: 100%;
}

.spot-page-content .image-div {
    -webkit-shape-outside: circle(50%);
    shape-outside: circle(50%);
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 260px;
    min-width: 260px;
    height: 260px;
    min-height: 260px;
    border-radius: 50%;
}

.spot-page-content .orange {
    color: #9c3611;
    transition: 0.3s linear;
    font-family: 'Ubuntu';
    font-weight: bold;
    line-height: 1.5;
}

.spot-page-content .details {
    color: white;
    font-weight: normal;
    margin-left: 1rem;
}

.spot-page-content .thumbs-up {
    margin-left: 0.5rem;
    cursor: pointer;
}

.spot-page-content .buttons-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.spot-page-content .buttons-section .btn {
    width: 100px;
    min-width: 100px;
    height: 1.5rem;
    background-color: #333;
    color: #ddd;
    text-align: center;
    border-radius: 5px;
    font-family: 'Ubuntu';
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2.5px;
    transition: 0.4s linear;
    cursor: pointer;
}

.spot-page-content .buttons-section .btn:hover {
    transform: scale(1.05);
}

.spot-page-content .buttons-section .btn:active {
    transform: scale(0.9);
}



@media (max-width: 550px) {
    .spot-page-content .image-div {
        -webkit-shape-outside: circle(50%);
        shape-outside: circle(50%);
        float: none;
        margin-right: 10px;
        margin-bottom: 10px;
        width: 240px;
        min-width: 240px;
        height: 240px;
        min-height: 240px;
    }

    .spot-page-content .details {
        margin-left: 2px;
    }

    .spot-page-content .thumbs-up {
        margin-left: 0.5rem;
    }

    .spot-page-content .buttons-section {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 1rem;
    }
}