.button {
    border: 0;
    outline: 0;
    padding: 0;
    width: 220px;
    height: 2rem;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    font-family: 'Ubuntu';
    font-size: 0.9rem;
    background-image: url(../images/ButtonMask3.png); /* the smudge color is #333333 */
    background-size: cover;
    color: #ddd;
    background-color: transparent;
    animation: rightToLeft 0.7s steps(70, start) forwards;
    overflow: hidden;
}

.button:hover {
    animation: leftToRight 0.7s steps(70, start) forwards;
}

@keyframes leftToRight {
    from {
        background-position-x: 0%;
        color: #ddd;
    }
   
    to {
        background-position-x: 100%;
        color: orange;
        text-shadow: 0 0 7.5px orangered;
    }
}

@keyframes rightToLeft {
    from {
        background-position-x: 100%;
        color: #fff;
        background-color: transparent;
    }
   
    to {
        background-position-x: 0%;
        color: #ddd;
        background-color: #333;
    }
}

.button:active {
    transform: scale(0.9);
}